#userList{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin : 8px;
    padding : 2px;
    background: #f8ffb3;

}

.rowInList{
    border-radius: 5px;
    min-height: 90%;
    border: 1px solid #ccc;
    margin:5px;
    padding : 10px;
    background: #823445;
}

.rowInList .photo{
    width:100px;
    height:100px;
    background: rgba(141, 197, 255, 0.77);
    display: table-cell;
}

.rowInList .info{
    width:340px;
    background: #b9e982;
    display: table-cell;
}

.rowInList .actions{
    width:100px;
    background:#CF2123;
    display: table-cell;
}